.trainers_container {
    text-align: center;
}  

.image_head_container {
    background-color: #0d0d0d;
}

.trainer_head {
    width: 50%;
}

.p_desc {
    margin-bottom: 15px;
}

.content_container_trainers {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 6%;
}

.box_container_trainers {
    display: flex;
    gap: 0.5rem;
    width: 80%;
}

.box_trainers {
    text-align: center;
}

.box_trainers hr {
    height: 3%;
    width: 20%;
    background-color: #ff4545;
    border: none;
}

.trainer_image_page {
    width: 60%;
    height: auto;
    border-radius: 10px;
    transition: transform .2s;
}

.trainer_image_page:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
}

.trainer-name-link {
    text-decoration: none;
    color: inherit;
  }
  
  .trainer-name-link:hover, .trainer-name-link:focus {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
  }
  